{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Time</th>
                <th>Type</th>
                <th>Price at transaction</th>
            </tr>
        </thead>
        <tbody>
            {% for item in stocks %}
            <tr>
                {% for key, value in item.items() %}
                    {% if key == "price" %}
                        <td>{{ value | usd}}</td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor%}
        </tbody>
    </table>
{% endblock %}